<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sniffer Capture Manager</title>
</head>
<body>
<h1>Capture Device {{ controller_model }}</h1>
<hr>
<p>Here is the manual start capture</p>
<hr>
<h2>Running Tasks</h2>
<table class="task_table">
    <thead><tr class="task_header">
        <th>Capture ID</th>
        <th>Owner</th>
        <th>Host</th>
        <th>Start Time</th>
        <th>Stop Time</th>
        <th>Traces</th>
    </tr></thead>
    {% for task in finished_tasks %}
    <tr class="task_row">
        <td class="task_id">{{ task.id }}</td>
        <td class="task_owner">{{ task.owner }}</td>
        <td class="task_host">{{ task.host }}</td>
        <td class="task_time">{{ task.start_time }}</td>
        <td class="task_time">{{ task.stop_time }}</td>
        <td class="task_url"><a href="/status/{{ task.id }}">captured traces</a></td>
    </tr>
    {% endfor %}
</table>
</body>
</html>
